
.banner1 {
  position: relative;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
}

.mainBG{
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.mainBG .main-banner{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.mainBG .main-logo{
  height: 40px;
  width: auto;
  z-index: 1;
  margin: 0px 0px 20px 0px;
}

.mainBG h1{
  width: 100%;
  z-index: 1;
  font-weight: 700;
  font-size: 75px;
  padding: 5px 30px;
  text-align: center;
  color: rgb(19, 12, 92);
}

.mainBG h2{
  width: 100%;
  z-index: 1;
  font-weight: 600;
  font-size: 30px;
  padding: 5px 30px;
  text-align: center;
  color: rgb(19, 12, 92);
}

.main-btn-container{
  position: relative;
  margin-top: 80px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
}

.main-btn{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100px;
  width: 250px;
  padding-bottom: 5px;
  background-color: rgba(19, 12, 92, 0.93);
  border-bottom: solid 1px rgba(19, 12, 92, 0.93);
  z-index: 1;
  cursor: pointer;
  margin: 3px;
  transition: all 200ms ease-in;
}

.main-btn:hover{
  background-color: rgba(19, 12, 92);
  border-bottom: solid 1px #fff;
}

.main-btn-icon{
  font-size: 35px ;
}

.main-btn h3{
  font-size: 25px;
  font-weight: 600;
}



.banner-pic {
  width: 500px;
}

.flag {
  width: 85px;
  margin: 20px 0;
}

.mainText{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 350px;
}

.mainText h2{
  font-size: 30px;
  color: rgba(19, 12, 92, 0.93);
}

.mainText p{
  font-size: 16px;
  color: rgba(19, 12, 92, 0.93);
  font-weight: 600px;
}

@media (min-width: 1205px) {
  .b1 {
    grid-area: b1;
    width: 1202px;
    height: 250px;
    object-fit: cover;
  }
  .b2 {
    grid-area: b2;
    width: 374px;
    margin-right: 40px;
  }
  .b3 {
    grid-area: b3;
    width: 374px;
  }

  .b4 {
    grid-area: b4;
    width: 374px;
    margin-left: 40px;
  }
  .banner2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 0;
    justify-content: space-between;
    grid-template-rows: auto;
    grid-template-areas:
      "b2 b3 b4"
      "b1 b1 b1";
    max-width: 1202px;
    row-gap: 40px;
    padding: 0;
  }
}
.buttonw {
  padding: 10px 0;
  color: white;
  background-color: #25d366;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
}

.buttonw-width {
  width: 250px;
}

.buttonw:hover {
  background-color: #8bd1ff;
}

@media (max-width: 1205px) {
  .banner-photo {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
    max-width: 900px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
    row-gap: 40px;
  }
  .b4 {
    display: none;
  }
}

@media (max-width: 960px) {
  .banner1 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 0;
    max-width: 90%;
  }
  .banner-pic {
    width: 300px;
    margin-top: 70px;
  }

  .buttonw-width {
    margin-top: 50px;
  }

  .banner2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
  }

  
}

@media (max-width: 470px) {
}
